[submodule "home/vim/bundle/unite.vim"]
	path = home/vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "home/vim/bundle/vimproc.vim"]
	path = home/vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "home/vim/bundle/vim-fugitive"]
	path = home/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
